<% if @sections.present? %>
  <div class="col-12">
    <h5 class="font-weight-bold text-danger" style="margin-bottom: -10px;">Info Kegiatan</h5>
  </div>
  <% @section.each do |b| %>
    <div class="col-4" style="margin-top: 20px;">
      <div class="card border-primary" >
        <div class="card-header bg-primary text-white font-weight-bold" ><%= b.nama_bidang %></div>
        <div class="card-body text-secondary font-weight-bold">
          <i class="fa fa-calculator"></i> Jumlah : <h2 class="text-danger font-weight-bold">&nbsp;&nbsp;&nbsp;&nbsp;<%= b.activities_count %> Kegiatan</h2>
          <i class="fa fa-check-square"></i> Sudah dilaksanakan : <h2 class="text-danger font-weight-bold">&nbsp;&nbsp;&nbsp;&nbsp;<%= b.activities_achieved %> Kegiatan</h2>
        </div>
      </div>
    </div>
  <% end %>

  <div class="col-12" style="margin-top: 25px;">
    <h5 class="font-weight-bold text-danger">Persentase Pelaksanaan Kegiatan</h5>
  </div>
  <% @section.each do |b| %>
    <div class="col-3">
      <label>
        <%= b.nama_bidang %>
      </label>
    </div>
    <div class="col-12">
      <div class="progress" >
        <% c = b.activities_achieved.to_f / b.activities_count.to_f * 100 %>
        <div class="progress-bar" role="progressbar" style="width: <%= c.round(2) %>%;" aria-valuenow="<%= c.round(2) %>" aria-valuemin="0" aria-valuemax="100">
          <%= c.round(2) %> %
        </div>
      </div>
    </div><br />
  <% end %>
<% else %>
  <h5 class="font-weight-bold text-danger">Bidang belum ditambahkan!</h5>
<% end %>
