<div class="col-12">
  <%= form_for [@section, @activity] do |f| %>
    <%= f.label :nama_kegiatan %>
    <%= f.text_field :nama_kegiatan, class: 'form-control', placeholder: 'Nama kegiatan' %>
    <br />
    
    <%= f.label :status_kegiatan %><br />
    <%= f.select :status, [['Belum dilaksanakan', 0], ['Sudah dilaksanakan', 1]], {}, {class: 'form-control', id: 'status', onclick: 'disableField(this.id, this.value)'} %><br />

    <%= f.label :rencana_awal_pelaksanaan %>
    <%= f.date_field :target_pelaksanaan, class: 'form-control', id: 'date'  %>
    <br />
    
    <%= f.label :realisasi_pelaksanaan %>
    <%= f.date_field :realisasi_pelaksanaan, class: 'form-control', id: 'realisasi'  %>
    <br />

    <%= link_to 'Batal', section_path(@section), class: 'btn btn-secondary' %>
    <%= f.submit 'Simpan', class: 'btn btn-primary' %>
  <% end %>
</div>

<script>
  document.getElementById("realisasi").readOnly = true;
  function disableField(id, value)
  {
    s = document.getElementById(id).value;

    if(s == 0)
    {
      document.getElementById("realisasi").readOnly = true;
      document.getElementById("realisasi").value = null;
    }
    else if(s == 1)
    {
      document.getElementById("realisasi").readOnly = false;
    }
  }
</script>
